@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scroll bars if the content is exactly viewport-sized */
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --animation-delay: 0s; /* Default animation delay */
}

.balloon {
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  bottom: -20px; /* Start off-screen */
  animation: floatUp 5s infinite ease-in;
  animation-delay: var(--animation-delay); /* Use variable for animation delay */
}

@keyframes floatUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh); /* Move up by the full height of the viewport */
    opacity: 0;
  }
}